body{background-color:#eee8e0; font-size: 7vw;}


#contenedor{ margin:auto;
height:100%; width:80%;

display:none;


}




.preguntas{background-color:#8FC0A9; width:100%;
border-radius:30px;
padding-left:10%;


}


#myform{
	width: 90%;
	
	
	left:0; position:absolute;
	z-index: 1;
}










#divUsuario{ background-color:#68B0AB; border-radius:30px; padding-left:2%;
width: 100%; margin-top:20%;

}




#resultado{
	background-color:#A6C08F; float:left; border-radius:30px; padding-left:4%;
	width:90%; position:fixed; bottom:0; z-index:1; display:none;
	
}




#nombre{margin-left:8%;}

#apellidos{margin-left:3%;}






#logo{top:0; position:fixed; width:20%; z-index:0;}


#boton{margin-left:10%;}


